.box{
	height: 100px;
	margin-bottom: 3px;
	background-color: #40a7b1d1;
}
.box1{
	height: 100px;
	margin-bottom: 3px;
	background-color:#49558d;
}
.box2{
	height: 100px;
	margin-bottom: 3px;
	background-color: yellowgreen;
}
.box3{
	height: 100px;
	margin-bottom: 3px;
	background-color: silver;
}
